<!--The whole content below can be removed with the new code.-->
<div class="container-fluid body-content">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <nav></nav>
    </div>
    <div class="col-sm-9 col-md-8">
      <router-outlet></router-outlet>                      
    </div>
  </div>
  <hr />

</div>
<footer class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-10 col-sm-offset-3 col-md-offset-2">
                <div>

                    <p>2017 - Nicolás Valenzuela - Proyecto de grado: Sistema de Firma Electrónica con Encriptación de Curva Elíptica</p>
                </div>
            </div>
        </div>
    </div>
</footer>

