<h2>Recuperación de contraseña</h2>
    <div *ngIf="!success">
        <form class="form-horizontal" (ngSubmit)="submit()" #f="ngForm">
            <h4>Ingrese su correo electrónico.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input [(ngModel)]="this.emailModel" class="form-control" name="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Recuperar</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="submitted && success">
        <p>Un link de recuperación de contraseña fue enviado a su correo electrónico.</p>
    </div>
