<h2>Recuperación de contraseña</h2>

    <form (ngSubmit)="submitRecoverModel()" class="form-horizontal">
        <hr />
        <div class="text-danger"></div>        
        <div class="form-group">
            <label class="col-md-3 control-label">Password nuevo</label>
            <div class="col-md-9">
                <input type="password" [(ngModel)]="this.recoverModel.password" name="newPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Confirmar password nuevo</label>
            <div class="col-md-9">
                <input type="password" [(ngModel)]="this.recoverModel.confirmPassword" name="confirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Cambiar password</button>
            </div>
        </div>
    </form>
