<h2>Claves no certificadas</h2>

<p>
    Seleccione una clave
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Usuario solicitante
            </th>

            <th>
                Nombre identificativo
            </th>

            <th>
                Fecha de creación
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitud of data">
            <td>
                {{solicitud.nombreUsuario}}
            </td>
            <td>
                {{solicitud.nombreIdentificativo}}
            </td>
            <td>
                {{solicitud.fechaCreacion}}
            </td>
            <td>
                <a routerLink="/AprobacionClavesNoCertificadas/{{solicitud.claveId}}">Detalles</a>
            </td>
        </tr>
    </tbody>
</table>
